  * {
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        a {
            display: block;
            background-color: rgb(255, 0, 0);
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            color: white;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        img {
            width: 100vw;
        }