@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.5%);
    width: 264px;
    height: 470px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
    box-sizing: border-box;
    
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.623);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    transition: transform 0.2s, border 0.1s;
}